# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5433
DB_NAME=stock_kiosco
DB_USER=postgres
DB_PASSWORD=Nacho43284666

# Secret para JWT (cambiar en producción por algo seguro)
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjEsImVtYWlsIjoianVhbkB0ZXN0LmNvbSIsImlhdCI6MTc2NDQ3NzIwMywiZXhwIjoxNzY1MDgyMDAzfQ.UWJZCSLkVWONqsDFP9lyI3LiAIKCQ0Kegk3XxAUJLvc

# CORS (URL del frontend en producción)
FRONTEND_URL=http://localhost:3000